/* ===== Colours ===== */
:root{
  --body-color: #E4E9F7;
  --nav-color: #107FB6;
  --back-body: #f4f4f7d1;
  --text-color: #DADADA;
  --body-back: #F2F5FB;
  --search-text: #010718;
  --hading-all:  #0D1637; 
  --antick:  #4483CE;
  --top-br:  #D01818;
  --wiper: #86898E;
  
}

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      overflow-x: hidden;  
      background:#f9fafd ;
    } 
    .saml-ds{
      background: white;
    }  
    .top-on-nave {
      display: flex;
      justify-content: space-between; 
      position: fixed;
      height: 40px;
      width: 100%; 
      top: 0;
      z-index: 900; 
      background: #D01818;
  } 
.cotcat-top{
  display: flex; 
  gap: 5px; 
  font-size: 20px; 
  color: white; 
  padding-left: 3%;
  padding-top: 3px;
} 

  .social-top{
    font-size: 20px; 
    padding-right: 3%; 
    color: white;
  }    /* Fixed navbar */

  .logo-top{
    max-width: 120px;
  }
      .navbar {
        position: fixed;
              background: rgba(255, 255, 255, 0.9);
              height: 80px; 
              width: 90%;
              top: 40px; 
              margin: 0% 5%; 
              border-radius: 10px;
              z-index: 1000;
            }
            .navbar-brand img {
              height: 40px;
            }
            .navbar-nav {
              margin: 0 auto;
            }
           
         .nav-link{
          font-size: 18px;
         } 
         .regster{
          text-decoration: none;
          font-size: 16px; 
          color: white;
          background: #010718;
          padding: 10px 15px;
          margin-right: 10px;
         } 
         .login{
          text-decoration: none;
          font-size: 16px; 
          padding-right: 15px;
          color: #010718; 
          padding-top: 10px;
         text-align: center;
         }
    /* Full-screen background image */
    .background-image {
      background-image: url('bgt.jpg'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
      background-size: cover;
      background-position: center;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 50px;
      color: white; 
 
    } 
    .car-top{
      padding-top: 40px;
    }
    
    /* Left side content */
   .delar{
    font-size: 18px;
    color: white;
    text-decoration: underline;
    padding-left: 20px;
   }
    .hading{
      font-size:60px; 
      text-align: center; 
      font-weight: 900; 
      color: white; 
      font-family: "Lato", serif;
    } 
    .number-listr{
      font-size: 24px; 
      color: #D01818; 
      font-family: "Lato", serif; 
      font-weight: 800;
      padding-left: 10px;
 
    }
    .left-content{
      display: flex;
      flex-direction: column;
      justify-content: center; 
      padding-left: 24px;
    } 
    .desic{
      font-size: 16px; 
      color: white;
      padding-left: 20px;
    }
    /* Right side card */
    .right-side{
      position: relative;
    }
    .card {
      background:black;
      padding: 20px;
      border-radius: 10px;
      max-width: 340px; 
      position: absolute; 
      right: 24px;
      bottom: 24px;
    } 
    
    .card-title {
      font-size: 28;
      font-weight:700;
      margin-bottom: 15px;
     color: white; 
    } 
    .pric-top-car{
      color: #D01818; 
      text-transform: uppercase; 
      font-size: 30px;
      padding-left: 10px;
    }
    .card-text {
      font-size: 18px;
      color: #a5a1a1;
    }
 /* fillter home */

.fillter-home{
  background: white;
  padding: 0 5%;
  width: 94%; 
  margin: 0 3%;
  height: 100px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  margin-top: -40px;
} 
.first-fillter{
  display: flex;
  gap: 20px;
}
.form-range{
color: #D01818;
} 
.cat-start{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; 
  padding-top: 60px;
} 
.find-sub{
  color: #D01818;
  font-size: 16px; 
  font-weight: 800; 
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
} 
.find-had{
font-size: 40px;
color: #010718;
font-weight: bold;
letter-spacing: 2px;
text-transform: capitalize; 
padding-bottom: 20px;
} 

.catgory-km{
  font-size: 24px; 
  color: #464444;
  text-align: center;
  text-transform: capitalize;
  padding: 10px; 
  font-weight: 700;
}  
.plat-cs{
  font-size: 18px; 
  color: #464444;
  text-align: center;
  text-transform: capitalize;
  padding: 10px; 
  font-weight: 700;
}
.cat-ime{
  width: 140px;
} 
.cat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:white;
  max-width: 180px; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  position: relative;
 
} 
.yaer-sow{
  position: absolute;
  background: #D01818;
  font-size: 16px;
  font-weight: 500;
  color: white;
  padding: 5px 13px;
  top: 0px; 
  left: 0; 
  border-radius: 10px 0px;
}
.yaer-sow:hover{
  background: #010718;

}
.palet-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background:white;
  max-width:240px; 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.ustifyrt- {
  display: flex;
  justify-content: center;
}
.all-vihle{
 display: flex;
 justify-content: space-around;
padding-top: 40px;

}

.crt-well{
  max-width: 340px;
  background:white;
  border-radius: 15px;
 
}
.imger{
 position: relative;
} 
.fixx-mod{
  background: red;
  color: white;
  font-size: 18px;
  position: absolute;
  top:-36px;
  left: 0;
  padding: 6px 25px;
  border-radius: 5px;
} 
.fixx-mod:hover{
  background: black;
 
}
.home-hdtr{
  font-size: 40px;
  color: #010718;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: capitalize; 
  padding-bottom: 20px;
  } 

.home-truste{
  color: #D01818;
  font-size: 16px; 
  font-weight: 800; 
  text-transform: uppercase;
  text-decoration: underline;
  letter-spacing: 1px;
} 

.car-mine{
  color: #D01818;
  font-size: 16px; 
  font-weight: 400;

}
.car-heed{
  color: #D01818;
  font-size: 18px; 
  font-weight:600;
}
.car-det{
  font-size: 20px;
  color: #1c1d1f;
  font-weight: 600;
} 
.detls{
  display: flex;
  justify-content: space-between;
padding: 10px 5px;
} 
.trime{
  color: #37383a;
  font-size: 14px;
} 
.light{
  font-size: 15px;
  color: #010718;
} 
.phon-prime {
  background: white;
  display: flex;
  align-items: center; 
  padding: 30px 5px; 
  max-width: 98%; 
  margin: 0 1%; 
  margin-top: 15px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
  
} 
.numer-had{
  font-size: 24px;
  font-weight: bold;
  color: #D01818;
  letter-spacing: 1px;
}  

.add-prime{
  position: relative;
} 
.remim{
  position: absolute; 
  background: #111010;
  color: white;
  padding: 5px 10px ;
  font-size: 14px; 
left: -5px; 
  top: -30px;
} 
.remim:hover{
  background: #D01818;
} 


.numer-prime {
  background: #FFDD15;
  display: flex;
  align-items: center; 
  max-width: 98%; 
  margin: 0 1%; 
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
 
} 
.numer-blochi{
  background: #3509f8;
  display: flex;
  align-items: center; 
  max-width: 98%; 
  margin: 0 1%; 
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; 
}
.nm-price{
  font-size: 18px;
  background: #010718;
  color: white;
  padding: 5px 15px; 
  margin-top: 20px;
} 


.numr-plyt{
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  background: #0427f1; 
  padding-top: 10px;
} 

.numr-balc{
  display: flex;
  flex-direction: column;
  justify-content: space-around; 
  background: #f7030f; 
  padding-top: 10px;
} 
.panjab{
  max-width: 60px;
 margin-left: 5px;
} 
.sireil{
  font-size: 28px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px; 
  text-align: center;
} 
.wechil-ny{
  font-size: 48px; 
  font-weight: bolder;
  letter-spacing: 3px;
  padding-left: 10px;
  
} 
.kiop{
  color: white;
}
.prib-op{
  position: relative;
} 
.pric-show{
  position: absolute;
  background: #d3b404;
  color: rgb(44, 43, 43);
  right: 0;
  bottom:-20px;
  padding: 5px 10px;
  font-size: 14px;
} 
.fotter-link{
  color: white ; 
  text-decoration: none;
  font-size: 16px;
}
 .logo-bt{
  max-width: 120px;
 } 
 .footer-dec{
  font-size: 16px;
  color: white;
 } 
 .copy-text{
  color: white;
 } 
/* lissting page*/


 .listing-bg {
  background-image: url('listing.png'), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  background-size: cover;
  background-position: center;
  height: 95vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
position: relative;
}  
.listin-pag-to{
  font-size: 20px;
  color: rgb(212, 212, 212);
  text-align: center;
  padding-bottom: 30px;
}

.on-weel{
  color: #D01818;
} 
.listing-iobg{
  background: #4d4e50;
  padding: 10px 28px;
  display: flex;
  flex-direction: column;
  font-size: 36px;
color: rgb(221, 217, 217);
border-radius: 5px;
}
.listing-iobg:hover{
background: #010718;
}
.listing-catr{
  font-size: 18px;
  text-align: center;
}
.wehclio-ion{
 
  display: flex;
  justify-content:space-around;
 
 
}
.filtter-box{
  display: flex;
  justify-content: center;
} 
.fiterl-main{
  display: flex;
  flex-direction: column;
  background: #2d2c32;
  padding: 30px;
  border-radius: 5px;
} 
.ideal-well{
  font-size: 22px;
  color: rgb(233, 227, 227);
  font-weight: 600;
  padding: 15px;
  letter-spacing: 1px;
  text-transform: capitalize;
  text-align: center;

} 
.form-select{
  background: #1a191d !important;
  border: none;
  padding: 15px;
  margin: 10px 0px;
} 
.form-select{
  color: white !important;
} 
.form-select:focus {
  border: none !important;
  outline: 0;
  box-shadow:none !important;
} 
.trtr{
  color: white;
  font-size: 36px;
}
    @media (max-width: 996px){
      .saml-ds{
        display: none; 
        margin: 0;
        padding: 0;
      } 
      .navbar{
        top: 0px;
      } 
      .navbar-collapse{
        background: white;
       padding: 20px;
  }  
  .regster {
    font-size: 14px;
  } 
  .login{
    font-size: 14px;
  }
    } 

    @media (max-width: 576px){

   
    }

    .redtr{
     background: rgb(62, 49, 243);
     color: white;
    }

    .bg-listing{
      background: #141313; 
      padding-top: 20px;
    } 
   .kmas{
    overflow-x: hidden;
   }
   .spce{
    
    justify-content: center !important;
   }